.userProfileSettingsContainer {
    .userInfoInputsContainer {
        padding: 20px 40px;
        display: grid;
        grid-template-columns: 50% 50%;

        .userInfoInputContainer {
            margin-bottom: 20px;
            div{
                width: 100%;
            }
            input {
                background-color: black;
            }
        }
    }
}
