table {
    background-color: #323232;
    border-collapse: collapse;
    width: 100%;
    
    .platformTable {
        width: 150px;
        text-align: center;
    }
    .actionTable{
        text-align: center;
    }
    .conditionTable{
        text-align: center;
        padding-right: 20px;
    }
}

th,
td {
    padding: 20px 50px;
}

th {
    text-align: left;
    background: hsl(0 0% 0% / 0.5);
    border-bottom: 0.5px solid gray;
}

tr:nth-of-type(2n) {
    background: hsl(0 0% 0% / 0.1);
}

tr {
    transition: all ease 0.3s;
    height: 80px;
}

tbody tr:hover {
    background: hsl(0 0% 0% / 0.7);
}



td {
    img {
        margin: auto;
    }
    .platformSmallIcon {
        opacity: 1;
        width: 100%;
        cursor: pointer;
    }
    .platformLargeIcon {
        opacity: 1;
        width: 55%;
        cursor: pointer;
    }
}

.storeTable{
    padding-right: 10px;
}

.pagination{
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    background-color: hsla(0, 0%, 0%, 0.5);
    border-top: 0.5px solid gray;
}

