.footerContainer {
    background-color: #202020;
    min-height: 250px;
    padding: 20px 222px;
    .footerLine1 {
        display: flex;
        justify-content: space-between;
        .left {
            span {
                font-weight: bold;
                margin-right: 30px;
                font-size: 20px;
                cursor: pointer;
                color: #e1e1e1;
                transition: all ease 0.2s;
            }
            span:hover {
                color: white;
            }
        }
        .right {
            font-weight: bold;
            font-size: 20px;
            color: #e1e1e1;
            transition: all ease 0.2s;
            cursor: pointer;
        }
        .right:hover {
            color: white;
        }
    }
    .footerLine2 {
        margin-top: 25px;
        color: #e1e1e1;
        span {
            font-size: 20px;
            font-weight: bold;
            margin-right: 20px;
            transition: all ease 0.2s;
            cursor: pointer;
        }
        span:hover{
            color: white;
        }
    }
    p{
        font-weight: 200;
        margin-top: 30px;
        text-align: left;
    }
}
